.main{
    max-width: 950px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px ;
    gap: 30px;
    margin:0 auto;
    @include device(sm){
    padding:0;
    }
}
.main h1{
    text-align: center;
    color: $color3;
}
.col-wide{
    grid-column: span 2;
}
.col-md-2{
    @include device(xl){
        grid-column: span 2;
        align-self: center;
        justify-self: center;
    }
}

.small-font{
   color:$color3 !important;
}
.main p{
    font-size: 1.2em;
    line-height: 1.4em;
    color: rgba(0,0,0,0.7)
}
